/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem; /*56px*/

  /*========== Colors ==========*/
  --first-color: hsl(161, 48%, 62%);
  --second-color: hsl(101, 64%, 74%);
  --card-color: hsl(184, 22%, 87%);
  --text-color: hsl(0, 1%, 26%);
  --text-color-light: hsl(0, 1%, 46%);
  --body-color: hsl(180, 23%, 95%);
  --gradient-color: linear-gradient(
    90deg,
    var(--first-color) 0%,
    var(--second-color) 100%
  );
  --white-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Inter", sans-serif;
  --biggest-font-size: 3.625rem;
  --big-font-size: 2.875rem; /* 46px */
  --h1-font-size: 1.5rem; /* 24px */
  --h2-font-size: 1.25rem; /* 20px */
  --h3-font-size: 1.125rem; /* 18px */
  --normal-font-size: 1rem; /* 16px */
  --small-font-size: 0.875rem; /* 14px */
  --smaller-font-size: 0.75rem; /* 12px */

  /*========== Font weight ==========*/
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-extra-bold: 800;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 4.625rem;
    --big-font-size: 2.875rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.75rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/

.container {
  max-width: 1024px;
  margin-inline: 1.5rem; /* Izquierda y derecha con 1.5rem de margin */
}

.grid {
  display: grid;
}

.main {
  overflow: hidden; /*For animation*/
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

.scroll-header {
  box-shadow: 0 1px 4px hsla(0, 1%, 26%, 0.3);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle,
.nav__link,
.nav__close {
  color: var(--text-color);
}

.nav__toggle {
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

.nav__logo img {
  width: 2rem;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    width: 100%;
    left: 0;
    top: -100%;
    box-shadow: 0 3px 8px hsla(203, 71%, 4%, 0.2);
    padding: 4rem 0 3.5rem;
    transition: top 0.4s;
    overflow: hidden;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 2rem;
}

.nav__link {
  font-weight: var(--font-regular);
  transition: color 0.4s;
}

.nav__link:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.nav__close,
.nav__img {
  position: absolute;
}

.nav__close {
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: 0;
}

.hidden-menu {
  top: 0;
}

.show-menu.hidden-menu {
  top: -100%;
}

/* Active link */
.active-link {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: var(--card-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: hsla(0, 1%, 26%, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/*=============== BREAKPOINTS ===============*/
@media screen and (min-width: 767px) {
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__toggle,
  .nav__close,
  .nav__img {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 2rem;
  }
}

/* For 2K resolutions (2048 x 1152) */
@media screen and (min-width: 2048px) {
  body {
    zoom: 1.6;
  }
}
